body {
    margin: 3px;
    background: url('https://previews.123rf.com/images/grapestock/grapestock1602/grapestock160200029/52018672-pink-love-heart-toy-with-bow-on-light-pink-heart-blur-background.jpg') no-repeat 0 0 scroll;
    background-color: #0C0C0C;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}

#appFrame {
    border: 4px solid black;
}

#titleDiv {
    border: 3px solid black;
}

#userDetails {
    text-align: center;
}

#logo {
    width: 35%;
    height: 80%;
    text-align: center;
}

img {
    background-position: center;
}

#profileImg {
    max-width:30%;
}

.fa-thumbs-up {
    background-position: center;
    font-size: 400%;
    color: green;
}

.fa-thumbs-down {
    background-position: center;
    font-size: 400%;
    color: red;
}

p {
    text-align: center;
}


#likeDislike {
    text-align: center;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

.sliderStyle {
    margin-top: 30px;
}

#filterFrame {
    margin-top: 30px;
}
